
[submodule "CoffeeEngine/vendor/imgui"]
	path = CoffeeEngine/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "CoffeeEngine/vendor/entt"]
	path = CoffeeEngine/vendor/entt
	url = https://github.com/skypjack/entt.git
[submodule "CoffeeEngine/vendor/tracy"]
	path = CoffeeEngine/vendor/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "CoffeeEngine/vendor/ImGuizmo"]
	path = CoffeeEngine/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "CoffeeEngine/vendor/nativefiledialog-extended"]
	path = CoffeeEngine/vendor/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
